/* @keyframes shiny-border {
    0% {
      background-position: 200% 0%;
    }
    100% {
      background-position: -200% 0%;
    }
  }
  
  .group-hover .animate-shiny-border {
    animation: shiny-border 1.5s linear infinite;
  }
  
  .group-hover .border-gradient-to-r {
    background: linear-gradient(
      135deg,
      rgba(71, 24, 99, 0.2) 10%,
      rgba(118, 67, 175, 0.5) 50%,
      rgba(193, 145, 231, 0.2) 100%
    );
  }

  @keyframes border-flow {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-border-flow {
    animation: border-flow 3s ease infinite;
  }
  
  @keyframes diagonal-shine-animation {
    0% {
      transform: translateX(-100%) translateY(-100%) rotate(45deg);
    }
    100% {
      transform: translateX(100%) translateY(100%) rotate(45deg);
    }
  }
  
  .diagonal-shine {
    background: linear-gradient(
      45deg,
      transparent 45%,
      rgba(255, 255, 255, 0.8) 50%,
      transparent 55%
    );
    transform: translateX(-100%) translateY(-100%) rotate(45deg);
    animation: diagonal-shine-animation 3s infinite linear;
    pointer-events: none;
  }
  
  .group:hover .diagonal-shine {
    animation: diagonal-shine-animation 1.5s infinite linear;
  } */

  @keyframes border-flow {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-border-flow {
    animation: border-flow 3s ease infinite;
  }
  
  @keyframes diagonal-shine-animation {
    0% {
      transform: translateX(-100%) translateY(-100%) rotate(45deg);
    }
    100% {
      transform: translateX(100%) translateY(100%) rotate(45deg);
    }
  }
  
  .diagonal-shine {
    background: linear-gradient(
      45deg,
      transparent 45%,
      rgba(255, 255, 255, 0.4) 50%,
      transparent 55%
    );
    transform: translateX(-100%) translateY(-100%) rotate(45deg);
    animation: diagonal-shine-animation 3s infinite linear;
    pointer-events: none;
  }
  
  .card-container {
    position: relative;
    isolation: isolate;
  }
  
  .card-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    padding: 1.5px;
    background: linear-gradient(
      140deg,
      rgba(97, 105, 252, 0.5) 60%,
      rgba(101, 110, 240, 0.8) 50%,
      rgba(86, 76, 226, 0.5) 100%
    );
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0.7;
  }
